file:///home/dpb53/github/Physicell-Cmake/sample_projects/virus_macrophage/custom_modules/CMakeLists.txtfile:///home/dpb53/github/Physicell-Cmake/sample_projects/virus_macrophage/CMakeLists.txt# Compiled Object files
**/.DS_Store
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json

include/divisible/*
.vscode/
.vscode/settings.json
## Local 

.idea/*.xml

build/**/*

include/*
lib/*
bin/*
test/test_runner

# general
apidocs
.directory
.kdev4
build
*~
*.patch
*.diff
*.bak
*.orig
*.pyc
*.rej
*.swp
doxygen.log
Doxyfile
*.kdevelop
*.kdevelop.filelist
*.kdevelop.pcs
*.kdevses
.*kate-swp
build/
mem.log.*
massif.*
callgrind.*
perf.data*

# from kdiff3
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
